<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <!-- 通过id定义bean名称：user1 -->
    <bean id="user1" class="com.yaoyao.lesson001.demo02.UserModel"/>

    <!-- 通过name定义bean名称：user2 -->
    <bean name="user2" class="com.yaoyao.lesson001.demo02.UserModel"/>

    <!-- id为名称，name为别名；bean名称：user3，1个别名：[user3_1] -->
    <bean id="user3" name="user3_1" class="com.yaoyao.lesson001.demo02.UserModel"/>

    <!-- bean名称：user4，多个别名：[user4_1,user4_2,user4_3,user4_4] -->
    <bean id="user4" name="user4_1,user4_2;user4_3 user4_4" class="com.yaoyao.lesson001.demo02.UserModel"/>

    <!-- bean名称：user5，别名：[user5_1,user5_2,user5_3,user5_4] -->
    <bean name="user5,user5_1,user5_2;user5_3 user5_4 user5_6" class="com.yaoyao.lesson001.demo02.UserModel"/>

    <!-- id和name都不指定：bean名称为：bean的class的完整类名#编号 -->
    <bean class="com.yaoyao.lesson001.demo02.UserModel"/>
    <bean class="com.yaoyao.lesson001.demo02.UserModel"/>

    <!-- 给bean定义别名 -->
    <alias name="user2" alias="user2_a"/>
    <alias name="user2" alias="user2_b"/>

    <!-- 引入其他bean配置文件 -->
    <import resource="user.xml"/>

</beans>