<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <!-- 单例bean，scope设置为singleton -->
    <bean id="singletonBean" class="com.yaoyao.lesson001.demo04.BeanScopeModel" scope="singleton">
        <constructor-arg index="0" value="singleton"/>
    </bean>

    <!-- 多例bean，scope设置为prototype-->
    <bean id="prototypeBean" class="com.yaoyao.lesson001.demo04.BeanScopeModel" scope="prototype">
        <constructor-arg index="0" value="prototype"/>
    </bean>

</beans>